#box-1 {
  height: 200px;
  width: 200px;
  background-color: red;
}
#box-2 {
  height: 200px;
  width: 200px;
  background-color: green;
}
#box-3 {
  height: 200px;
  width: 200px;
  background-color: blue;
}
#box-4 {
  height: 200px;
  width: 200px;
  background-color: yellow;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  
}
